* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body,
.search-wrap {
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  overflow: hidden;
}
.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.search .top {
  width: 100%;
  position: relative;
  height: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #efeff0;
  display: flex;
  padding: 0.1rem 0.3rem;
  box-sizing: border-box;
}
.search .top .top_back {
  width: 0.6rem;
  height: 0.8rem;
  display: block;
  background: url('http://dushu.xiaomi.com/x0D0GrWs.png') no-repeat left center;
  background-size: 50% 50%;
}
.search .top .search-input {
  position: relative;
  background: #fff;
  flex: 1;
  height: 0.8rem;
  box-shadow: 0 0 0 0.01rem rgba(0, 0, 0, 0.08);
}
.search-input input {
  border: none;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.08rem 0.52rem 0.08rem 1rem;
  font-size: .14rem;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
}
.search-input_btn {
  display: block;
  line-height: 0.8rem;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #ddd;
  padding: 0 0.16rem;
  font-size: 0.14rem;
  color: #666;
}
.search-input b {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background: url('http://image.read.duokan.com/mfsv2/download/s010/p01TjruXIhgt/PP13pEqhpChuay.png') no-repeat center;
  background-size: 45%;
}
.top_bd {
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.top_bd #Tag_3 {
  padding: 0.3rem;
  box-sizing: border-box;
}
.top_bd #Tag_3 .search-tag {
  display: flex;
  flex-wrap: wrap;
}
.top_bd #Tag_3 .search-tag li {
  padding: 0.1rem 0.2rem;
  margin: 0.2rem 0.2rem 0.2rem 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
}
.top_bd #Tag_3 .search-tag li:nth-child(3n) {
  background: #fcedda;
}
.top_bd #Tag_3 .search-tag li:nth-child(3n+1) {
  background: #e8f9db;
}
.top_bd #Tag_3 .search-tag li:nth-child(3n+2) {
  background: #fbebe8;
}
.top_bd #Tag_3 .search-tag li.activeli {
  background: #ddd;
}
.top_bd #Tag_3 ol {
  background: none;
}
.top_bd #Tag_3 ol li dl {
  display: flex;
  padding: 0.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #eee;
}
.top_bd #Tag_3 ol li dl dt {
  flex: 2;
  height: 2rem;
}
.top_bd #Tag_3 ol li dl dt img {
  width: 100%;
  height: 100%;
}
.top_bd #Tag_3 ol li dl dd {
  flex: 8;
  padding-left: 0.3rem;
  box-sizing: border-box;
}
