<div class="girl-title boy-title">
    <h2> {{ad_name}}</h2>
</div>
<ul class="list-girllove list-boylove">
    {{#iflength data.data}} {{#each this}}
    <li>
        <a href="/page/detail.html?indexId={{fiction_id}}">
            <dl>
                <dt><img src="{{cover}}" alt=""></dt>
                <dd>
                    <h3>{{title}}</h3>
                    <p>{{authors}}</p>
                    <p>{{summary}}</p>
                    <p class="tagsbox">{{#each tags}}
                        <span>{{this}}</span>{{/each}}</p>
                </dd>
            </dl>
        </a>
    </li>
    {{/each}}{{/iflength}}
</ul>
<div class="changebox"><span>换一换</span><span>男生频道</span></div>