<div class="title-recommed">
    <h2>
        {{ad_name}}</h2>
</div>
<ul class="list-recommed">
    {{#iflength data.data}} {{#each this}} {{#if @index}}
    <li class="two">
        <a href="/page/detail.html?indexId={{fiction_id}}">
            <b>0{{@index}}</b>
            <span>{{title}}</span>
            <font>{{authors}}</font>
        </a>
    </li>
    {{else}}
    <li class="one">
        <a href="/page/detail.html?indexId={{fiction_id}}">
            <dl>
                <dt><img src="{{cover}}"><b>{{allow_free_read}}</b>{{#if finish}}<span>完结</span>{{else}}<span>连载中</span>{{/if}}</dt>
                <dd>
                    <h2>{{title}}</h2>
                    <p>{{authors}}</p>
                    <p class="summary">{{summary}}</p>
                    <p>{{#each tags}}
                        <span>{{this}}</span> {{/each}}
                    </p>
                </dd>
            </dl>
        </a>
    </li>
    {{/if}} {{/each}} {{/iflength}} </ul>
<div class="changebox">
    <b>换一换</b>
    <b>查看全部</b>
</div>