body,
html {
  width: 100%;
  height: 100%;
}
.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  font-size: 0.32rem;
}
.wrap .main {
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.wrap .main #tab {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.wrap .main #tab .cantent {
  position: relative;
}
.wrap .main #tab .cantent:after {
  content: attr(data-up);
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  bottom: -0.8rem;
  left: 0;
  position: absolute;
}
header {
  width: 100%;
  height: 0.8rem;
  background: #efeff0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  line-height: 0.8rem;
}
header span {
  display: inline-block;
  padding: 0 0.5rem;
}
header span.active {
  color: #ff6600;
}
.top-home__search {
  float: left;
  width: 94%;
  margin: 10px 13px;
  padding: 1px 0 0 30px;
  font: 11px/33px a;
  color: rgba(0, 0, 0, 0.4);
  background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 8px center;
  background-size: 14px;
  border: 1px solid #f5f5f5;
  border-radius: 2px;
}
.index-banner {
  width: 100%;
}
.index-banner img {
  width: 100%;
}
.week-hot {
  width: 100%;
}
.week-hot h2 {
  border-left: 2px solid #ff6600;
}
.week-hot ul {
  display: flex;
  flex-wrap: wrap;
}
.week-hot ul li {
  width: 33.3%;
  padding: 0.06rem;
}
.week-hot ul li img {
  width: 100%;
}
.week-hot .channel-group__footer {
  display: block;
  border-top: 1px solid #f0f0f0;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
}
.top-home__btn {
  margin: 14px 0 4px;
  display: -webkit-box;
  width: 100%;
  height: 1.3rem;
}
.top-home__btn li {
  width: 20%;
  height: 100%;
  text-align: center;
}
.top-home__btn li p {
  margin-top: .2rem;
}
.recommend {
  border-top: 1px solid #ccc;
}
.recommend h2 {
  padding: 15px 13px 14px 13px;
  border-bottom: 1px solid #f0f0f0;
  font: bold 13px/13px a;
  color: rgba(0, 0, 0, 0.9);
}
.recommend .one {
  padding: 17px 0;
  border-bottom: 1px solid #f0f0f0;
}
.recommend .one dl {
  position: relative;
  overflow: hidden;
  margin-left: .2rem;
}
.recommend .one dl dt img {
  float: left;
  width: 85px;
  height: 113px;
  background-color: #eeece9;
  border: 1px solid #f0f0f0;
  border-radius: 1px;
}
.recommend .one dl dt span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  box-sizing: border-box;
  font: 10px/10px a;
  padding: 25px 7px 6px;
  color: #fff;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.recommend .one dl dt b {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 3px 0 4px;
  height: 17px;
  width: 12px;
  font: 8px/0.8em a;
  color: #fff;
  background: orange;
  background-size: 12px 17px;
}
.recommend .one dl dd {
  margin-left: 100px;
  background: #fff;
  height: 100px;
}
.recommend .one dl dd h2 {
  padding: 6px 6px 5px 6px;
  margin-top: 0px;
  font: 16px/17px a;
  color: rgba(0, 0, 0, 0.9);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recommend .one dl dd p {
  margin-top: 8px;
  font: 12px/12px a;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recommend .one dl dd p span {
  float: left;
  margin: -3px 7px 0 0;
  padding: 3px 6px 2px;
  max-width: 6em;
  font: 10px/11px a;
  color: #53ac7d;
  border-radius: 3px;
  border: 1px solid #53ac7d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.recommend .two {
  padding: 15px 0;
  border-bottom: 1px solid #f0f0f0;
}
.recommend .two a b {
  float: left;
  margin-top: 1px;
  font: 13px/13px a;
  color: rgba(237, 83, 15, 0.9);
  margin-left: .2rem;
  margin-top: .1rem;
}
.recommend .two a span {
  position: relative;
  font: 15px/15px a;
  color: rgba(0, 0, 0, 0.9);
  background: #fff;
  margin-left: .2rem;
}
.recommend .two a font {
  position: absolute;
  margin: 1px 0 0 13px;
  font: 12px/12px a;
  color: rgba(0, 0, 0, 0.4);
  background: #fff;
}
.recommend .Tag__14 {
  border-top: 1px solid #f0f0f0;
  overflow: hidden;
}
.recommend .Tag__14 .btn-h5__next {
  float: left;
  width: 50%;
  padding: 14px;
  font: 13px/1.3em a;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  text-align: center;
}
.recommend .Tag__14 .btn-h5__more {
  float: left;
  width: 50%;
  padding: 14px;
  font: 13px/1.3em a;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  text-align: center;
}
.ul .one {
  padding: 17px 0;
  border-bottom: 1px solid #f0f0f0;
}
.ul .one dl {
  position: relative;
  overflow: hidden;
  margin-left: .2rem;
}
.ul .one dl dt img {
  float: left;
  width: 85px;
  height: 113px;
  background-color: #eeece9;
  border: 1px solid #f0f0f0;
  border-radius: 1px;
}
.ul .one dl dt span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  box-sizing: border-box;
  font: 10px/10px a;
  padding: 25px 7px 6px;
  color: #fff;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.ul .one dl dt b {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 3px 0 4px;
  height: 17px;
  width: 12px;
  font: 8px/0.8em a;
  color: #fff;
  background: orange;
  background-size: 12px 17px;
}
.ul .one dl dd {
  margin-left: 100px;
  background: #fff;
  height: 100px;
}
.ul .one dl dd h2 {
  padding: 6px 6px 5px 6px;
  margin-top: 0px;
  font: 16px/17px a;
  color: rgba(0, 0, 0, 0.9);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ul .one dl dd p {
  margin-top: 8px;
  font: 12px/12px a;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ul .one dl dd p span {
  float: left;
  margin: -3px 7px 0 0;
  padding: 3px 6px 2px;
  max-width: 6em;
  font: 10px/11px a;
  color: #53ac7d;
  border-radius: 3px;
  border: 1px solid #53ac7d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.top-home__icon {
  display: block;
  margin: 0 auto;
  height: 22px;
  width: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  vertical-align: -5px;
}
.top-home__icon.noname {
  width: 44px;
  height: 44px;
  margin-top: -4px;
  margin-bottom: 6px;
}
.top-home__icon.noname + .top-home__des {
  display: none;
}
.love {
  width: 100%;
}
.love h2 {
  padding: 15px 13px 14px 13px;
  border-bottom: 1px solid #f0f0f0;
  font: bold 13px/13px a;
  color: rgba(0, 0, 0, 0.9);
}
.love ul {
  padding: 0 13px;
}
.love ul .one {
  padding: 17px 0;
  border-bottom: 1px solid #f0f0f0;
}
.love ul .one dl {
  position: relative;
  overflow: hidden;
}
.love ul .one dl dt img {
  float: left;
  width: 85px;
  height: 113px;
  background-color: #eeece9;
  border: 1px solid #f0f0f0;
  border-radius: 1px;
}
.love ul .one dl dt span {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  box-sizing: border-box;
  font: 10px/10px a;
  padding: 25px 7px 6px;
  color: #fff;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
.love ul .one dl dt b {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 3px 0 4px;
  height: 17px;
  width: 12px;
  font: 8px/0.8em a;
  color: #fff;
  background: orange;
  background-size: 12px 17px;
}
.love ul .one dl dd {
  margin-left: 100px;
  background: #fff;
  height: 100px;
}
.love ul .one dl dd h2 {
  padding: 6px 6px 5px 6px;
  margin-top: 0px;
  font: 16px/17px a;
  color: rgba(0, 0, 0, 0.9);
  text-overflow: ellipsis;
  white-space: nowrap;
}
.love ul .one dl dd p {
  margin-top: 8px;
  font: 12px/12px a;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.love ul .one dl dd p span {
  float: left;
  margin: -3px 7px 0 0;
  padding: 3px 6px 2px;
  max-width: 6em;
  font: 10px/11px a;
  color: #53ac7d;
  border-radius: 3px;
  border: 1px solid #53ac7d;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
}
.love .Tag__52 {
  border-top: 1px solid #f0f0f0;
  overflow: hidden;
}
.love .Tag__52 .btn-h5__next {
  float: left;
  width: 50%;
  padding: 14px;
  font: 13px/1.3em a;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  text-align: center;
}
.love .Tag__52 .btn-h5__more {
  float: left;
  width: 50%;
  padding: 14px;
  font: 13px/1.3em a;
  color: rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  text-align: center;
}
.yi h2 {
  padding: 10px 14px;
  border-bottom: 1px solid #f0f0f0;
  border-left: 6px solid #ffab18;
}
.yi ul {
  padding: 13px 14px 5px;
}
.yi ul li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
  margin-left: 5px;
}
.yi ul li a {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.yi ul li a img {
  height: 113px;
  width: 86px;
  margin-left: .1rem;
}
.yi ul li a span {
  text-align: center;
  padding-top: 8px;
  color: #8d8d8d;
  font-size: 13px;
  line-height: 1.2em;
  font-weight: bolder;
  max-height: 3.5em;
  margin-bottom: 0px;
}
